@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Recursive:wght@400;800&display=swap');

:root{

}

.title .titleBar{
    font: 'Recursive', Roboto;
    font-size: large;
}

.titleBar {
    font-size: medium;
}